# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/

.venv/

# Ignore other common directories
.DS_Store
.idea/
.vscode/

# Ignore the Python egg info and build files
*.egg-info/
dist/
build/
